.flex{
    display: flex;
}
.gap-1{
    gap:10px;
}
.inner-content {
    padding: 24px;
    background: #fff;
}

.m-0{
    margin: 0 !important;
}

.align-items-center{
    align-items: center;
}
.inline{
    display: inline;
}