
$colors : (
    "white":#ffffffb0,
    "success":#30BF78,
    "neutralBlue-30":#E1E5F5,
    "neutralBlue-50":#9FA6CC,
    "neutralBlue-60": #7D86B2,
    "neutralBlue-80":#484770,
    "neutralBlue-90":#222453,
    "cyan-3":#87E8DE,
    "deepPurple-3": #9A8EFF,
    "megenta-3": #FFADD2,
    "primaryBlue-60": #2F54EB,
    "primaryBlue-10":#d6e4ff,
    "dustredRed-4": #FF7875,
    "grey-4":#65789B,
);

@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value;
    }
    .bg-#{$color}-important{
        background-color: $value !important;
    }
    .text-#{$color} {
        color:$value;
    }
    .text-#{$color}-important {
        color:$value !important;
    }
}



