
$colors : (
    "white":#ffffffb0,
    "neutralBlue-50":#9FA6CC,
    "neutralBlue-80":#484770,
    "neutralBlue-90":#222453,

);

@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value;
    }
    .text-#{$color} {
        color:$value
    }
}



