@import url('https://fonts.googleapis.com/css?family=Inter');
@import '/src/app/core/styles/_styles.scss';
:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  display:flex;
  flex-direction: row;
  min-height: 100vh;
}

nz-content {
  margin: 24px;
}
/* You can add global styles to this file, and also import other style files */
.circular-nz-checkbox{
  .ant-checkbox-inner{
      border-radius: 50% !important;
  }
}