<nz-modal [(nzVisible)]="isVisible" nzTitle="Créer une nouvelle activité" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzWidth]="700">
    <ng-container *nzModalContent>
      <div class="modal-content-wrapper">
        <div class="flex gap-16px">
          <input nz-input type="text" placeholder="Titre de l'activité" [ngClass]="['activity-title','basic-input']">
          <label nz-checkbox [(ngModel)]="finished" class="circular-nz-checkbox"></label>
        </div>
        <br>
        <div class="activity-types flex gap-16px" *ngIf="activityTypeList.length>0">
          <ng-container *ngFor="let activityType of activityTypeList;">
            <button nz-button nzType="text" [ngClass]="{'selected':selectedActivityType ==activityType,'btn':true}"
            (click)="onSelectActivityType(activityType)">{{activityType | titlecase}}</button>
          </ng-container>
        </div>
        <br>
        <div class="activity-mediums flex gap-16px"  *ngIf="activityMediumMap.get(selectedActivityType)?.length>0">
          <span nz-icon nzType="cluster" nzTheme="outline" class="icon"></span>
          <div class="flex gap-16px">
            <button nz-button nzType="primary"  nzShape="circle" *ngFor="let activityMedium of activityMediumMap.get(selectedActivityType);">
              <span nz-icon [nzType]="ACTIVITY_MEDIUM.getIcon(activityMedium)" nzTheme="outline"></span>
            </button>
          </div>
        </div>
        <br>
        <div class="flex gap-16px">
          <span nz-icon nzType="calendar" nzTheme="outline" class="icon"></span>
          <div> datepicked</div>
          <div> <core-timepicker [data]="data" (timeChange)="timeChange($event) "></core-timepicker></div>
          <div> <core-minutepicker (selectedMinutesChange)="selectedMinutesChange($event)"></core-minutepicker></div>
        </div>
        <br>
        <div class="flex gap-16px">
          <span nz-icon nzType="team" nzTheme="outline" class="icon"></span>
          <div><core-candidate-select (selected)="onSelectedCandidate($event)"></core-candidate-select></div>
        </div>
        <br>
        <div class="flex gap-16px">
          <span nz-icon nzType="flag" nzTheme="outline" class="icon"></span><!-- change -->
          <div><core-job-tree></core-job-tree></div>
        </div>
        <br>
        <div class="flex gap-16px">
          <span nz-icon nzType="user" nzTheme="outline" class="icon"></span><!-- change -->
          <div class="flex gap-16px">
            <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            <core-participant-select (selected)="onSelectedCandidate($event)"></core-participant-select>
          </div>
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </div>
        <nz-divider></nz-divider>
        <div>
          <span nz-icon nzType="environment" nzTheme="outline" class="icon"></span>
          <div>wait for desk select compoents</div>
        </div>
        <div class="flex">
          <span nz-icon nzType="plus" nzTheme="outline" class="icon"></span>
          <div>Wait for description mixed components</div>
        </div>
        <div class="flex">
          <span nz-icon nzType="unlock" nzTheme="outline" class="icon"></span>
          <div>Wait for visibility / reminder components</div>
        </div>
      </div>
    </ng-container>
    <ng-container *nzModalFooter>
      <div class="flex">
        <button nz-button nzType="default" (click)="handleCancel()">Annuler</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="">
          Plannifer sans l'envoi de l'email
        </button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="">
          Planifier et envoyer l'email >
        </button>
      </div>
    </ng-container>
</nz-modal>