<div [ngClass]="{'hide':hide}" class="dropdown-search">
    <div class="seach-bar">
        <input nz-input type="text">
    </div>
    <br />
    <div *ngFor="let i of [1,2,3]" class="results">
        <div class="participants">
            <nz-avatar [nzShape]="'circle'"
                [class]="bgColorClasses[i%3]" [nzText]="'MJ'" [nzSize]="'small'" class="avatar">
            </nz-avatar>
            <div class="name">El Mehdi Oudaoud</div>
            <div class="email">02.oudaoud@gmail.com</div>
        </div>
    </div>
    <nz-divider class="m-0"></nz-divider>
    <div class="add">
        + Participants by Email
    </div>
</div>