@import '/src/app/core/styles/colors.scss';
@import '/src/app/core/styles/main.scss';
@import '/src/app/core/styles/_styles.scss';

.dropdown-search{
    background-color: white;
    border-radius: 10px;
    transform: translate(-8px,-6px);
    color: rgba(0,0,0,.85);
    padding: 15px 0 10px 10px;
    @extend .basic-input;
    input{
        border-radius: 10px;
    }
    input:focus{
        color: rgba(0,0,0,.85);
    }
}
.hide{
    display: none;
}
.candidate{
    cursor: pointer;
    display:flex;
    gap:15px;
    margin-bottom: 5px;
    padding: 10px;
    &:hover{
        opacity: .9;
        background-color: #fafafa;
        & > .name{
            @extend .text-primaryBlue-50;
        }
    }
    // & > .avatar{
    // }
    // & > .name{
    //     // flex: 1;
    // }
    & > .email{
        // flex: 1;
        font-size: small;
        margin-top: 3px;
        color: rgb(187, 187, 187);
    }
}
.add{
    /* can generalize*/
    cursor: pointer;
    transition: color .1s ease-in;
    transition: transform .1s ease-out;
    @extend .text-gray-4;
    &:hover{
        @extend .text-primaryBlue-60;
        transform: translate(2px,0);
    }
}