<div class="dropdown-search">
    <div class="seach-bar">
        <input nz-input type="text" placeholder="Chercher par nom ou email">
    </div>
    <br />
    <div *ngFor="let participant of participantsStream$ | async;let i = index;">
        <div class="participant" (click)="selectParticipant($event,participant)">
            <nz-avatar [nzShape]="'circle'" *ngIf="textMethodsService.getInitials(participant.name)!=null"
                [class]="bgColorClasses[i%3]" [nzText]="textMethodsService.getInitials(participant.name)!" [nzSize]="'small'" class="avatar">
            </nz-avatar>
            <nz-avatar [nzShape]="'circle'" *ngIf="textMethodsService.getInitials(participant.name)==null"
                [class]="bgColorClasses[i%3]" [nzIcon]="'user'" [nzSize]="'small'" class="avatar">
            </nz-avatar>
            <div class="name">{{participant.name}}</div>
            <div class="email">{{participant.email}}</div>
        </div>
    </div>
    <nz-divider style="margin:0 0 15px 0;"></nz-divider>
    <div class="add">
        <span nz-icon nzType="plus" nzTheme="outline" ></span> Ajouter des participants par email.
    </div>
</div>