<div id="filters-buttons"></div>
<div id="activities-table">
    <div class="collapse-wrapper">
        <ng-container>
            <nz-collapse *ngFor="let activitiyGroup of groupedActivityStream$ | async">
                <nz-collapse-panel
                    [nzHeader]="activitiyGroup[0].owner.name"
                    [nzActive]="true"
                >
                    <nz-table #activityTable [nzData]="activitiyGroup" 
                    [nzBordered]="true"
                    [nzOuterBordered]="true">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th></th>
                            <th>Nom de l'activité</th>
                            <th>Participants</th>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>Candidat</th>
                            <th>Ouverture</th>
                            <th></th><!-- actions -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of activityTable.data;let index = index;">
                            <td>{{data.id}}</td>
                            <td
                                [nzChecked]="setOfCheckedId.has(data.id)"
                                (nzCheckedChange)="onItemChecked(data.id, $event)"
                                class="circular-nz-checkbox"
                                
                            ></td>
                            <td>{{ data.title }}</td>
                            <td>
                                <!-- data.participants -->
                                <nz-avatar-group>
                                    <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                                    <nz-avatar style="background-color: #f56a00" nzText="U"></nz-avatar>
                                    <nz-avatar style="background-color: #87d068" nz-tooltip nzTooltipTitle="NG-ZORRO User" nzIcon="user"></nz-avatar>
                                    <nz-avatar style="background-color: #1890ff" nzText="NG"></nz-avatar>
                                </nz-avatar-group>
                            </td>
                            <td>{{data.time | date:'mediumDate' }}</td>
                            <td>{{data.time | date:'shortTime' }}</td>
                            <td>
                                <ng-container *ngIf="getCandidate(data) != null">
                                    <nz-avatar style="background-color: #0B00B5" nz-tooltip nzTooltipTitle="NG-ZORRO User" nzIcon="user"></nz-avatar>
                                    {{ getCandidate(data)?.name + "CANDIDATE" }}
                                </ng-container>
                            </td>
                            <td>{{getJob(data)}} Lorem, ipsum dolor.</td>
                            <td>
                            <a>Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </nz-table>
                </nz-collapse-panel>
            </nz-collapse>
        </ng-container>
        <ng-template #loadingTemplate>
            <nz-table [nzLoading]="true"></nz-table>
        </ng-template>
        
    </div>
</div>