@import '/src/app/core/styles/colors.scss';
@import '/src/app/core/styles/_styles.scss';
@import '/src/app/core/styles/main.scss';


.filters-buttons{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
    .button-list{
        display: flex;
        .btn-active{
            @extend .bg-primaryBlue-10;
            span{
                @extend .text-primaryBlue-60;
            }
        }
        .list-title{
            button{
                border-radius: 6px 0 0 6px;
                margin-right: 3px;
            }.rounded{
                border-radius: 6px !important;
            }
        }
        .last-item{
            /* cannot use :last bacause angular would apply style each time a child is rendered*/
            button{
                border-radius: 0 6px 6px 0;
            }
        }
        button{
            @extend .bg-neutralBlue-30;
            border: transparent;
            box-shadow: 0 0 0 0 map-get($colors,primaryBlue-10);
            transition: all .2s;
            span{
                @extend .text-neutralBlue-60;
            }
            &:hover{
                @extend .bg-primaryBlue-10;
                span{
                    @extend .text-primaryBlue-60;
                }
            }
        }
    }
}

nz-table{
    th{
        @extend .text-neutralBlue-50;
        @extend .m-0;
        padding: 10px;
        background: transparent;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }
    td{
        @extend .text-neutralBlue-80;
        @extend .m-0;
        padding: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    .selected{
        & > *{
            color: #444444 !important;
            opacity: .5;
        }
        
    }
    .activity-icon{
        @extend .basic-input;
        @extend .transparent-input;
        .activity-mainIcon{
            position: relative;
            & > * {
                @extend .bg-grey-4;
            }
        }
        .activity-subIcon{
            position: absolute;
            transform: translate(15px, 9px);
            & > * {
                background: #fff;
                @extend .text-grey-4;
            }
        }
    }
}

.avatar-group{
    @extend .m-0;
    gap:3px;
    padding-inline-start: 0px !important;
    nz-avatar{
        list-style: none;
    }
}
.expand-icon{
    transition: all .1s ease-in;
    padding: 0 8px;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        transform: translate(2px,0);
        background-color: #f0f0f0;
        .expand-counter, .tree-icon{
            @extend .text-primaryBlue-60;
        }
    }
}
.toogle{
    opacity: 1;
    border: 1px dotted map-get( $colors,primaryBlue-50 );
}
nz-select {
    width: 100px;
}

.add-activity{
    /* can generalize*/
    cursor: pointer;
    transition: color .1s ease-in;
    transition: transform .1s ease-out;
    @extend .text-gray-4;
    &:hover{
        @extend .text-primaryBlue-60;
        transform: translate(2px,0);
    }
}