<div class="filters-buttons">
    <span>Tout</span>
    <nz-divider nzType="vertical"></nz-divider>
    <div class="button-list">
        <div class="list-title">
            <button class="btn" 
            [ngClass]="{'activated':activatedFilters.Entretien.activated}"
            >
                <span>Entretien</span>
            </button>
        </div>
        <div class="list-elements" *ngFor="let medium of INTERVIEW_MEDIUM ;let last = last;" [ngClass]="{'last-item': last}">
            <button 
                *ngIf="ACTIVITY_MEDIUM.getIcon(medium)!=null"
                class="btn" [ngClass]="{'activated':activatedFilters.Entretien.activated || activatedFilters.Entretien.mediums[medium]}"
            >
                <span nz-icon [nzType]="ACTIVITY_MEDIUM.getIcon(medium)!" nzTheme="outline"></span>
            </button>
        </div>
    </div>
    <div class="button-list">
        <div class="list-title">
            <button class="btn"><span>Réunion</span></button>
        </div>
        <div class="list-elements" *ngFor="let medium of REUNION_MEDIUM;let last = last;" [ngClass]="{'last-item': last}">
            <button *ngIf="ACTIVITY_MEDIUM.getIcon(medium)!=null" class="btn">
                <span nz-icon [nzType]="ACTIVITY_MEDIUM.getIcon(medium)!" nzTheme="outline"></span>
            </button>
        </div>
    </div>
    <div class="button-list">
        <div class="list-title">
            <button class="btn"><span>Tâche</span></button>
        </div>
        <div class="list-elements" *ngFor="let medium of TASK_MEDIUM;let last = last;" [ngClass]="{'last-item': last}">
            <button *ngIf="ACTIVITY_MEDIUM.getIcon(medium)!=null" class="btn">
                <span nz-icon [nzType]="ACTIVITY_MEDIUM.getIcon(medium)!" nzTheme="outline"></span>
            </button>
        </div>
    </div>
    <div class="button-list">
        <div class="list-title">
            <button class="btn rounded"><span>Rappel</span></button>
        </div>
        <div class="list-elements"></div>
    </div>
</div>
<br />
<div class="inner-content">
    <div id="activities-table">
        <div class="collapse-wrapper">
            <ng-container>
                <nz-collapse *ngFor="let activitiyGroup of (groupedActivityStream$ | async);let groupIndex=index;" nzGhost>
                    <nz-collapse-panel
                        [nzHeader]="collapseTitle"
                        [nzActive]="true"
                    >
                        <nz-table #activityTable [nzData]="activitiyGroup" 
                        [nzBordered]="true"
                        [nzOuterBordered]="true">
                            <thead>
                            <tr>
                                <th nzWidth="25px" [nzChecked]="checked.get(groupIndex)" [nzIndeterminate]="indeterminate.get(groupIndex)" (nzCheckedChange)="onGroupAllChecked($event,groupIndex)" class="checkbox-checked-success"></th>
                                <th nzWidth="25px"></th>
                                <th>Nom de l'activité</th>
                                <th>Participants</th>
                                <th>Date</th>
                                <th>Heure</th>
                                <th>Candidat</th>
                                <th>Ouverture</th>
                                <th nzWidth="25px"><span nz-icon nzType="setting" nzTheme="outline"></span></th><!-- actions -->
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of activityTable.data;let index = index;" [ngClass]="{'selected':setOfCheckedId.has(data.id)}"> 
                                <!-- <td>{{data.id}}</td> -->
                                <td>{{index+1}}</td>
                                <td
                                    [nzChecked]="setOfCheckedId.has(data.id)"
                                    (nzCheckedChange)="onItemChecked(data.id, $event,groupIndex)"
                                    class="circular-nz-checkbox checkbox-checked-success"
                                    
                                ></td>
                                <td nzEllipsis [nzExpand]="false" (nzExpandChange)="onExpandChange(data.id, $event)" class="expand-icon-right flex">
                                    <div class="activity-icon mr-1">
                                        <div [ngSwitch]="data.getType()" class="activity-mainIcon">
                                            <nz-avatar nzIcon="comment" [nzSize]="'small'" *ngSwitchCase="'Interview'"></nz-avatar> 
                                            <nz-avatar nzIcon="notification" [nzSize]="'small'" *ngSwitchCase="'Reminder'"></nz-avatar> 
                                            <nz-avatar nzIcon="team" [nzSize]="'small'" *ngSwitchCase="'Reunion'"></nz-avatar> 
                                            <nz-avatar nzIcon="check" [nzSize]="'small'" *ngSwitchCase="'Task'"></nz-avatar> 
                                        </div>
                                        <div *ngIf="ACTIVITY_MEDIUM.getIcon(getMedium(data)) !=null" class="activity-subIcon">
                                            <nz-avatar [nzSize]="18" [nzIcon]="ACTIVITY_MEDIUM.getIcon(getMedium(data))!"></nz-avatar> 
                                        </div>
                                    </div>
                                    <span>{{ data.title }}</span>
                                
                                </td>
                                <!--TODO: https://ng.ant.design/components/table/en#components-table-demo-expand -->
                                <td>
                                    <!-- data.participants -->
                                    <ul class="flex avatar-group">
                                        <!-- <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" [nzSize]="'small'"></nz-avatar> -->
                                        <nz-avatar class="bg-megenta-3" nzText="U" [nzSize]="'small'"></nz-avatar>
                                        <!-- <nz-avatar class="bg-cyan-3" nz-tooltip nzTooltipTitle="NG-ZORRO User" nzIcon="user" [nzSize]="'small'"></nz-avatar> -->
                                        <nz-avatar class="bg-cyan-3" nz-tooltip nzText="EO" nzTooltipTitle="el mehdi" [nzSize]="'small'"></nz-avatar>
                                        <nz-avatar class="bg-deepPurple-3" nzText="NG" [nzSize]="'small'"></nz-avatar>
                                    </ul>
                                </td>
                                <ng-container *ngIf="data.time <= now;else futureDates;">
                                    <td class="text-dustredRed-4-important">{{data.time | date:'mediumDate' }}</td>
                                    <td class="text-dustredRed-4-important">{{data.time | date:'shortTime' }}</td>
                                </ng-container>
                                <ng-template #futureDates>
                                    <td>{{data.time | date:'mediumDate' }}</td>
                                    <td>{{data.time | date:'shortTime' }}</td>
                                </ng-template>
                                <td>
                                    <ng-container *ngIf="getCandidate(data) != null">
                                        <nz-avatar class="bg-neutralBlue-50" [nzSize]="'small'" nz-tooltip nzTooltipTitle="NG-ZORRO User" nzIcon="user"></nz-avatar>
                                        {{ getCandidate(data)?.name + "John doe" }}
                                    </ng-container>
                                </td>
                                <td nzEllipsis>{{getJob(data)}}  Developeur Fullstack java / react.</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </nz-table>
                    </nz-collapse-panel>
                    <ng-template #collapseTitle>
                        <h3 class="weight-600 text-neutralBlue-90">{{activitiyGroup[0].owner.name}}&nbsp;</h3>
                        <h3 class="weight-400 text-neutralBlue-60">({{activitiyGroup.length}})</h3>
                    </ng-template>
                </nz-collapse>
            </ng-container>
            <ng-template #loadingTemplate>
                <nz-table [nzLoading]="true"></nz-table>
            </ng-template>
        </div>
    </div>
</div>