@import '/src/app/core/styles/main.scss';

::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
background: linear-gradient(map-get($colors,neutralBlue-30), map-get($colors,neutralBlue-50));
border-radius:6px;
transform: background .2s ease-in;
}

::-webkit-scrollbar-thumb:hover {
background:linear-gradient(map-get($colors,neutralBlue-50), map-get($colors,neutralBlue-60));
}

.overdue{
    /* you can't override the changes of ng-date-picker if you don't define the style here*/
    nz-select-item{
        @extend .text-dustredRed-4-important;
    }
    input{
        @extend .text-dustredRed-4-important;
    }
    svg{
        fill:map-get($colors, dustredRed-4);
    }
}
.no-suffix-icon{
    .ant-picker-suffix{
        display: none !important;
    }
}
.py-0{
    .ant-collapse-header{
        padding-top: 0;
        padding-bottom: 0;
    }
}
.ant-table-footer{
    background-color: #fff !important;
}
.ant-modal-content, .ant-modal-header{
    border-radius: $base-border-radius !important;
}